<div class="wrapper flex-col pb-[145px] pt-20">
    <div class="mb-20 flex w-full flex-col justify-between lg:flex-row lg:items-end">
        <div class="heading !mb-0 !text-left">
            <h5>BLOG</h5>
            <h2>Dive into our insights & advices</h2>
        </div>
        <a href="#" class="relative flex items-center pb-[10px] text-textColor">
            <div class="block font-bold">Learn more</div>
            <img src="./assets/images/homepage/right-arrow-2.svg" alt="" class="ml-4 mt-0.5 inline-block max-w-full" />
            <span class="absolute bottom-0 block w-full border-b-[1px] border-[#dfe2e9]"></span>
        </a>
    </div>
    <div class="flex flex-col justify-between gap-10 text-white lg:flex-row lg:*:h-[640px]">
        <a
            href="https://www.nexlab.tech/blog/case-study-how-nexlab-used-hasura-to-digitize-daikin-vietnams-ac-servicing-business-unit"
            class="group relative flex-shrink-[0.5] overflow-hidden rounded-xl">
            <div class="absolute left-5 top-5 z-10 flex items-center">
                <div class="mr-4 size-12">
                    <img class="rounded-full border border-white" src="./assets/images/homepage/blog-1.png" alt="" />
                </div>
                <p class="font-bold">Toan Nguyen</p>
            </div>
            <div
                class="!after:content-none h-full w-full after:absolute after:top-0 after:block after:h-full after:w-full after:bg-[rgba(0,0,0,.5)]">
                <img
                    class="h-full w-full object-cover transition duration-300 group-hover:scale-105"
                    src="./assets/images/homepage/blog-2.jpeg"
                    alt="" />
            </div>
            <div class="absolute bottom-5 left-5">
                <div class="heading !mb-0 !p-4 !text-left !text-white">
                    <h5 class="!mb-2 !text-base">CASE STUDY</h5>
                    <h2 class="!mb-2 !text-2xl !font-semibold">
                        Case Study: How Nexlab used Hasura to digitize Daikin Vietnam’s AC servicing business unit
                    </h2>
                    <p class="flex items-center gap-3 !text-base">
                        March 17, 2023 <i class="fa-solid fa-circle text-[4px]"></i> 10 mins read
                    </p>
                </div>
            </div>
        </a>
        <div class="flex flex-col gap-10 *:h-1/2">
            <a
                href="https://www.nexlab.tech/blog/case-study-how-nexlab-used-hasura-to-digitize-daikin-vietnams-ac-servicing-business-unit"
                class="group relative overflow-hidden rounded-xl">
                <div class="absolute left-5 top-5 z-10 flex items-center">
                    <div class="mr-4 size-12">
                        <img
                            class="rounded-full border border-white"
                            src="./assets/images/homepage/blog-3.jpg"
                            alt="" />
                    </div>
                    <p class="font-bold">Quynh Pham</p>
                </div>
                <div
                    class="!after:content-none after:absolute after:top-0 after:block after:h-full after:w-full after:bg-[rgba(0,0,0,.5)]">
                    <img
                        class="transition duration-300 group-hover:scale-105"
                        src="./assets/images/homepage/blog-4.jpeg"
                        alt="" />
                </div>
                <div class="absolute bottom-5 left-5">
                    <div class="heading !mb-0 !p-4 !text-left !text-white">
                        <h5 class="!mb-2 !text-base">CASE STUDY</h5>
                        <h2 class="!mb-2 !text-2xl !font-semibold">
                            Đằng sau một dự án vì cộng đồng giúp đỡ 1.000 bệnh nhân F0 mang tên Teletriage
                        </h2>
                        <p class="flex items-center gap-3 !text-base">
                            March 17, 2023 <i class="fa-solid fa-circle text-[4px]"></i> 3 mins read
                        </p>
                    </div>
                </div>
            </a>
            <a
                href="https://www.nexlab.tech/blog/case-study-how-nexlab-used-hasura-to-digitize-daikin-vietnams-ac-servicing-business-unit"
                class="group relative overflow-hidden rounded-xl">
                <div class="absolute left-5 top-5 z-10 flex items-center">
                    <div class="mr-4 size-12">
                        <img
                            class="rounded-full border border-white"
                            src="./assets/images/homepage/blog-5.jpg"
                            alt="" />
                    </div>
                    <p class="font-bold">Van Tran</p>
                </div>
                <div
                    class="!after:content-none after:absolute after:top-0 after:block after:h-full after:w-full after:bg-[rgba(0,0,0,.5)]">
                    <img
                        class="transition duration-300 group-hover:scale-105"
                        src="./assets/images/homepage/blog-6.png"
                        alt="" />
                </div>
                <div class="absolute bottom-5 left-5">
                    <div class="heading !mb-0 !p-4 !text-left !text-white">
                        <h5 class="!mb-2 !text-base">CASE STUDY</h5>
                        <h2 class="!mb-2 !text-2xl !font-semibold">Tự Hào Đồng Hành Cùng Daikin Vietnam</h2>
                        <p class="flex items-center gap-3 !text-base">
                            March 17, 2023 <i class="fa-solid fa-circle text-[4px]"></i> 5 mins read
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
