<div>
    <div class="wrapper -mb-[205px] !w-full">
        <div
            class="flex w-full flex-col items-center justify-center bg-[url('../../images/homepage/footer-bg.png')] bg-center pb-[100px] pt-20 !text-white lg:rounded-xl">
            <h2 class="mb-3 text-5xl font-bold">Have an idea in mind?</h2>
            <p class="text-center text-[22px]">You are more than welcome to contact our team for a free consultation</p>
            <a href="./consultation.html" class="btn my-10 !bg-white !text-mainBlue">Book a free consultation</a>
            <div class="flex gap-4 *:flex *:gap-4">
                <div>
                    <img src="assets/images/homepage/footer-tick.svg" alt="" />
                    <span>Trusted partner</span>
                </div>
                <div>
                    <img src="assets/images/homepage/footer-tick.svg" alt="" />
                    <span>Flexible model</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="h-full w-full bg-mainBlue pt-[320px] text-base text-white">
    <div class="wrapper flex-col">
        <div class="flex w-full flex-col gap-14 border-b border-[#40454f] pb-[45px] lg:flex-row">
            <div class="lg:w-2/5">
                <a href="#">
                    <img class="h-[50px]" src="assets/images/homepage/footer-logo.svg" alt="" />
                </a>
                <p class="mt-3 max-w-[500px] lg:max-w-[300px]">
                    Nexlab Technology was founded in 2013 with a vision to deliver a reliable & flexible model for
                    businesses engaging with new digital era. Let's talk about your ideas! We always love to hear from
                    you, whether it is enterprise solution or consulting, we are just a call away!
                </p>
            </div>
            <div class="flex flex-col justify-between gap-8 *:flex *:flex-col *:gap-4 lg:flex-row lg:*:w-1/3">
                <div>
                    <a class="hover:opacity-80" href="tel:+842822159068">(+84) 28 221 590 68</a>
                    <a class="hover:opacity-80" href="mailto:contact@nexlab.tech">contact@nexlab.tech</a>
                    <a class="hover:opacity-80" href="https://maps.app.goo.gl/uB2oAWSUfAo9mhet6"
                        >65 Le Trung Nghia Street, Ward 12, Tan Binh Distrist, Ho Chi Minh City, Vietnam</a
                    >
                </div>
                <div>
                    <a class="hover:opacity-80" href="#">Home</a>
                    <a class="hover:opacity-80" href="company.html">Company</a>
                    <a class="hover:opacity-80" href="service-solution.html">Service & Solution</a>
                    <a class="hover:opacity-80" href="product.html">Product</a>
                    <a class="hover:opacity-80" href="project.html">Project</a>
                    <a class="hover:opacity-80" href="case-study.html">Case Study</a>
                </div>
                <div>
                    <a class="hover:opacity-80" href="">Blog</a>
                    <a class="hover:opacity-80" href="">Career</a>
                    <a class="hover:opacity-80" href="privacy-policy.html">Privacy Policy</a>
                    <a class="hover:opacity-80" href="spam-policy.html">Spam Policy</a>
                    <a class="hover:opacity-80" href="contact.html">Contact</a>
                </div>
            </div>
        </div>
        <div class="flex w-full items-center justify-between border-b border-[#40454f] pb-5 pt-10">
            <p>2023 © Nexlab Technology Co., Ltd</p>
            <div class="flex gap-4">
                <a href="https://www.facebook.com/NexlabHQ">
                    <img src="assets/images/homepage/footer-fb.svg" alt="" />
                </a>
                <a href="https://twitter.com/NexlabHQ">
                    <img src="assets/images/homepage/footer-twitter.svg" alt="" />
                </a>
                <a href="https://vn.linkedin.com/company/nexlabhq">
                    <img src="assets/images/homepage/footer-linkedin.svg" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>
