<div class="sticky w-full bg-white">
    <div class="wrapper justify-between py-5 leading-tight">
        <div class="h-10 w-[150px]">
            <a href="https://www.nexlab.tech/">
                <img src="./assets/images/homepage/nav-logo.svg" alt="" class="object-contain" />
            </a>
        </div>
        <div class="js-nav-mb-btn p-3 lg:hidden">
            <img class="size-5" src="./assets/images/homepage/nav-mb.svg" alt="" />
        </div>
        <ul class="*:nav-item hidden lg:flex">
            <li><a href="./company.html">Company</a></li>
            <li><a href="./service-solution.html">Services & Solutions</a></li>
            <li><a href="./product.html">Product</a></li>
            <li><a href="./project.html">Project</a></li>
            <li><a href="./case-study.html">Case Study</a></li>
        </ul>
        <div class="hidden w-auto lg:flex">
            <a class="btn" href="./contact.html">Contact</a>
        </div>
    </div>
    <div
        class="wrapper js-nav-mb !hidden !w-full animate-fade-down px-[7.5%] pb-5 shadow-[0_50px_30px_rgba(0,0,0,.06)] transition-all duration-300">
        <ul class="w-full *:py-5 [&_a]:block [&_a]:!w-full">
            <li><a href="./company.html">Company</a></li>
            <li><a href="./service-solution.html">Services & Solutions</a></li>
            <li><a href="./product.html">Product</a></li>
            <li><a href="./project.html">Project</a></li>
            <li><a href="./case-study.html">Case Study</a></li>
            <a class="btn max-w-min !py-3" href="./contact.html">Contact</a>
        </ul>
    </div>
</div>
