<div class="wrapper flex-col pb-[130px] pt-[70px]">
    <div class="heading !mb-20">
        <h5>TEAM</h5>
        <h2>Our leadership team</h2>
        <p>
            We've been delivered many successfull projects. In order to doing so, we gathered experts from various
            domains.
        </p>
    </div>
    <div class="flex w-full flex-wrap justify-around *:flex *:w-full *:flex-col *:items-center md:*:w-1/2 lg:*:w-1/4">
        <a href="https://www.linkedin.com/" class="group">
            <div class="relative *:transition-all *:duration-300">
                <div
                    class="!after:content-none relative before:absolute before:top-0 before:z-10 before:block before:h-full before:w-full before:rounded-xl before:bg-transparent before:transition-all before:duration-300 before:group-hover:bg-[rgba(255,120,71,.5)]">
                    <img
                        class="mb-6 h-[330px] rounded-xl bg-[#e1e4eb] object-cover grayscale-0"
                        src="./assets/images/homepage/team-1.png"
                        alt="" />
                </div>
                <div class="absolute bottom-[14%] right-[6%] z-10 size-12 grayscale group-hover:grayscale-0">
                    <img src="./assets/images/homepage/linkedin.svg" alt="" />
                </div>
            </div>
            <h4 class="mb-2 text-2xl font-bold">Thi Huynh</h4>
            <p class="text-[#6e7687]">Founder & CEO</p>
        </a>
        <a href="https://www.linkedin.com/" class="group">
            <div class="relative *:transition-all *:duration-300">
                <div
                    class="!after:content-none relative before:absolute before:top-0 before:z-10 before:block before:h-full before:w-full before:rounded-xl before:bg-transparent before:transition-all before:duration-300 before:group-hover:bg-[rgba(255,120,71,.5)]">
                    <img
                        class="mb-6 h-[330px] rounded-xl bg-[#e1e4eb] object-cover grayscale-0"
                        src="./assets/images/homepage/team-2.png"
                        alt="" />
                </div>
                <div class="absolute bottom-[14%] right-[6%] z-10 size-12 grayscale group-hover:grayscale-0">
                    <img src="./assets/images/homepage/linkedin.svg" alt="" />
                </div>
            </div>
            <h4 class="mb-2 text-2xl font-bold">Toan Nguyen</h4>
            <p class="text-[#6e7687]">CTO</p>
        </a>
        <a href="https://www.linkedin.com/" class="group">
            <div class="relative *:transition-all *:duration-300">
                <div
                    class="!after:content-none relative before:absolute before:top-0 before:z-10 before:block before:h-full before:w-full before:rounded-xl before:bg-transparent before:transition-all before:duration-300 before:group-hover:bg-[rgba(255,120,71,.5)]">
                    <img
                        class="mb-6 h-[330px] rounded-xl bg-[#e1e4eb] object-cover grayscale-0"
                        src="./assets/images/homepage/team-3.png"
                        alt="" />
                </div>
                <div class="absolute bottom-[14%] right-[6%] z-10 size-12 grayscale group-hover:grayscale-0">
                    <img src="./assets/images/homepage/linkedin.svg" alt="" />
                </div>
            </div>
            <h4 class="mb-2 text-2xl font-bold">Sunny Tran</h4>
            <p class="text-[#6e7687]">VP of Project</p>
        </a>
        <a href="https://www.linkedin.com/" class="group">
            <div class="relative *:transition-all *:duration-300">
                <div
                    class="!after:content-none relative before:absolute before:top-0 before:z-10 before:block before:h-full before:w-full before:rounded-xl before:bg-transparent before:transition-all before:duration-300 before:group-hover:bg-[rgba(255,120,71,.5)]">
                    <img
                        class="mb-6 h-[330px] rounded-xl bg-[#e1e4eb] object-cover grayscale-0"
                        src="./assets/images/homepage/team-4.png"
                        alt="" />
                </div>
                <div class="absolute bottom-[14%] right-[6%] z-10 size-12 grayscale group-hover:grayscale-0">
                    <img src="./assets/images/homepage/linkedin.svg" alt="" />
                </div>
            </div>
            <h4 class="mb-2 text-2xl font-bold">Robert Vo</h4>
            <p class="text-[#6e7687]">Advisor - Data Scientist</p>
        </a>
    </div>
</div>
